<head>
  <title>Cellware Scientific</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="static/js/all.js"></script>
  <link rel="stylesheet" href="static/css/bulma.css" />
  <link rel="stylesheet" href="static/css/home.css" />
  <script>
    document.addEventListener('DOM')

  </script>
</head>
<body class="has-navbar-fixed-top">
  <div class="side-notification">
    <div class="notification is-info">
      To order, please use the <a href="/contact.html">Contact Us</a> Page
      <button class="delete" id="orderInfoDelete"></button>
    </div>
  </div>
  <nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="index.html" style="">
          <img src="static/img/logo.png" style="height: 100px"/>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <!-- is-active class -->
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" href="#">
            <a class="navbar-link" href="products.html">
              Products
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="bubbletube.html">
                Tubes
              </a>
              <a class="navbar-item" href="shaker.html">
                Shaker
              </a>
              <a class="navbar-item" href="flask.html">
                Flask
              </a>
              <a class="navbar-item" href="bioreactor.html">
                Bioreactor
              </a>
            </div>
          </div>
          <a class="navbar-item" href="contact.html">
            Contact Us
          </a>
          <a class="navbar-item">Events</a>
          <!-- <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More Options
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="contact.html">
                Contact Us
              </a>
            </div>
          </div> -->
          <div class="navbar-item">
            <a class="button is-light" href="#">Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="banner">
    <section class="section">
      <div class="container">
        <div class="banner-text">
          <p class="title is-1 has-text-white" style="">
            Innovative Cell Culture Solutions
          </p>
          <p class="subtitle has-text-white">
            Bringing speed and efficency to your lab
          </p>
          <a role="button" class="button is-success is-outlined" href="#about-us">Learn More</a>
        </div>
      </div>
    </section>
  </div>

  <section class="hero is-csci" id="about-us">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">About Us</h1>
        <h2 class="subtitle">Our background</h2>
        <p>
          Cellware Scientific offers a series of revolutionary cell culture and microbial culture products. Our mission is to create innovative and user-friendly to help life science researchers obtain faster, better results.  Our novel single-use bioreactor system is designed for adherent & non-adherent cell cultures. It utilizes disposable, flexible, cell culture bags with an active aeration device and is the only system that can fit into CO2 incubators. Our innovative design optimizes growth environments, improves cell yields, and increases throughput, all in an affordable and eco-friendly way. Our unique disposable culture tubes feature dual positioned flip-caps, allowing for quick and single handed operation.
      </div>
    </div>
  </section>

  <section class="hero has-text-centered">
    <div class="hero-body">
    <h1 class="subtitle is-3 has-underline">
    Our Products
    <div style="display: flex; justify-content: center;">
      <hr style="width: 125px; height: 2px"/>
    </div>
    </h1>
    <!-- <div class="divider"></div> -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="static/img/bbtube/BT_2.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2 class="subtitle is-4">Tubes</h2>
                <!-- <h3 class="subtitle is-6">Description of Consumables</h3> -->
                <a class="button" href="tubes.html">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="static/img/cflask/5.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2 class="subtitle is-4">Consumables</h2>
                <!-- <h3 class="subtitle is-6">Description of Equipment</h3> -->
                <span class="tag is-success">Coming Soon!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="static/img/shaker/orbital.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2 class="title is-4">Equipment</h2>
                <!-- <h3 class="subtitle is-6">Other parts of our system</h3> -->
                <span class="tag is-success">Coming Soon!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

<hr style="height: 8px"/>

  <section class="hero has-text-centered section-padding" style="">
    <div class="hero-body">
      <div class="container">
        <div class="subtitle is-3 has-underline">What makes us different?
          <div style="display: flex; justify-content: center;">
            <hr style="width: 150px; height: 2px"/>
          </div>
        </div>
        <div class="divider">
        </div>
        <nav class="level">
          <div class="level-item">
            <div>
              <p class="title is-4">Speed</p>
              <p class="title is-6">Faster than ever</p>
              <div class="icon-container">
                <i class="fas fa-fire" style="color:#e74c3c; font-size: 50px" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-4">Efficency</p>
              <p class="title is-6">Minimize growth time</p>
              <div class="icon-container">
                <i class="fas fa-leaf" style="color:#27ae60; font-size: 50px" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-4">Cost</p>
              <p class="title is-6">Maximize ROI</p>
              <div class="icon-container">
                <i class="fas fa-credit-card" style="color:#34495e; font-size: 50px" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <!-- <section class="hero has-text-centered section-padding is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="subtitle is-3">Our Ecosystem</h1>
        <div class="tile is-ancestor">

          <div class="tile is-parent is-vertical">
            <div class="tile is-child notification outlined">
              Shaker
            </div>
            <div class="tile is-child notification outlined">
              Consumables
            </div>
          </div>

          <div class="tile is-parent is-vertical" style="background-color: ">
            <div class="tile is-child has-tags">
              <div class="tags has-addons">
                <span class="tag outlined" style="border-right: none;">Gas Exchange</span>
                <span class="tag is-info">CO2 and H2O</span>
              </div>
            </div>
            <div class="title is-child">
              <i class="fas fa-arrows-alt-h" style="color: gray"></i>
            </div>
            <div class="tile is-child has-tags">
              <div class="tags has-addons">
                <span class="tag outlined" style="border-right: none;">Environment</span>
                <span class="tag is-danger">Temp Controlled</span>
              </div>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child notification outlined" style="display: flex; align-items: center; justify-content: center">
              Better cell cultures
            </div>
          </div>

        </div>
      </div>
    </div>
  </section> -->

  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="static/img/logo.png" id="footer-logo"/>
        </div>
        <div class="column">
          <!-- <h1 class="title is-6">Actions</h1> -->
          <p>
            <a href="#top">Back to the Top</a>
          </p>
        </div>
        <div class="column">
          <!-- <h1 class="title is-6">Pages</h1> -->
          <p>
            <a href="index.html">Home</a>
          </p>
          <p>
            <a href="products.html">Products</a>
          </p>
          <p>
            <a href="contact.html">Contact Us</a>
          </p>
        </div>
        <div class="column">
          <h1 class="title is-6">Connect With Us</h1>
          <div id="social-media-icons">
            <a href="" class="fab fa-twitter-square"></a>
            <a href="" class="fab fa-facebook-square"></a>
            <a href="" class="fab fa-google-plus-square"></a>
          </div>
        </div>
      </div>
      <section class="section">

      </section>
      <div class="content has-text-centered">
        <p>
          Copyright 2018 Cellware Scientific
        </p>
      </div>
    </div>
  </footer>
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/home.js"></script>
</body>
