.navbar {
  border-bottom: 2px solid #1ba0c1;
}
.patient-label {
  background: #1ba0c1;
  color: white;
}
.is-diagnosys {
  background: #1ba0c1;
  color: white;
  border: unset;
}
.navbar-item img {
  max-height: 2em;
  height: 50px;
}
